html, body{
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: bold;
    background-image: linear-gradient(19deg, rgb(0, 94, 138) 0%, rgb(113, 222, 255) 100%);
    /* background-image: linear-gradient(19deg, rgb(51, 124, 69) 0%, rgb(64, 228, 119) 100%); */
    /* background-image: linear-gradient(19deg, rgb(124, 51, 51) 0%, rgb(247, 107, 107) 100%); */
    background-repeat: no-repeat;
    display: table;
    margin: 0 auto;
}

.navbar {

}

hr {
  border: 1.5px solid white;
  opacity: 20%;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: white;
}

.logo {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  width: 30px;
}

.logo:hover {
  opacity: 30%;
  transition: 0.3s;
}

.cr {
  font-size: 12px;
  color: white;
  opacity: 50%;
}

h1 {
  color: white;
  font-size: 30px;
}

.group {
  text-align: center;
}

  .dial {
    height: 400px;
    width: 400px;
  }
  
  .timer {
    position: relative;
    display: inline-block;
  }
  
  * {
    font: inherit;
  }

  .crtl {
    filter: invert(100%);
  }

  .crtl:hover {
    opacity: 60%;
    transition: 0.2s;
  }
  
  .timer p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
  }
  
  .timer button {
    border: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
  }
  
  .timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: none;
  }

  .button {
    background-color:transparent;
    border-radius:30px;
    border:3px solid #93e2fa;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:21px;
    padding:16px 30px;
    text-decoration:none;
  }
  .button:hover {
    background-color:#8fd5eb;
    opacity: 30%;
    transition: 0.5s
  }
  .button:active {
    position:relative;
    top:1px;
  }
  
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

