html, body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(19deg, rgb(0, 94, 138) 0%, rgb(113, 222, 255) 100%);
    background-repeat: no-repeat;
		margin: 0 auto;
}

.group {
  display: table;
  margin: 0 auto;
  text-align: center;
}

  .dial {
    height: 400px;
    width: 400px;
  }
  
  .timer {
    position: relative;
    display: inline-block;
  }
  
  * {
    font: inherit;
  }

  .crtl {
    filter: invert(100%);
  }

  .crtl:hover {
    opacity: 60%;
    transition: 0.2s;
  }
  
  .timer p {
    color: white;
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
  }
  
  .timer button {
    border: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
  }
  
  .timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: none;
  }

  .button {
    background-color:transparent;
    border-radius:30px;
    border:3px solid #93e2fa;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:21px;
    padding:16px 30px;
    text-decoration:none;
  }
  .button:hover {
    background-color:#8fd5eb;
    opacity: 30%;
    transition: 0.5s
  }
  .button:active {
    position:relative;
    top:1px;
  }
  
  .btn-group {

  }
  
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }